#StepOne {

  .Bootstrap__DatePicker {
    margin: 0 0 30px 0;

    .table-condensed {
      background-color: rgba(255,255,255,0.8);
    }

    .table-condensed>tbody>tr>td {
      padding: 10px;
    }

    .day {

    }

    .active.day {
      background-color: $c_orange_main;
      background-image: linear-gradient(to bottom,$c_orange_light_1,$c_orange_main);
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius:0;
    }

    @include breakpoint($min865) {
      width: 50%;
      float: left;
      display: inline-block;
      .table-condensed>tbody>tr>td {
        padding: 15px;
      }
    }

  }

  #Form_HappEventForm_StartTime_Holder, #Form_HappEventForm_FinishTime_Holder {
    display: inline-block;
    width: 100%;
    @include breakpoint($min865) {
      width: 50%;
    }
  }

  .clearable-picker {
    width: 100%;
    .hasWickedpicker {
      width: 100%;
    }

    // close btn
    span {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
  }



  .Calendar__Options {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    @include breakpoint($min865) {
      width: 50%;
      float: left;
      display: inline-block;
    }

    span {
      padding: 8px;
      display: block;
      border-radius: 20px;
      border: 2px solid black;
      margin-bottom: 10px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }

    .Higlight__Option {
      background-color: $c_orange_main;
      text-align: center;
    }
  }

  .Generate__Dates {

    margin: 20px auto;
    height: 59px;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    @include breakpoint($min865) {

    }
    .generate_date_text {
      width: 100%;
      padding: 20px;
      margin: 0;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .Event__Dates {
    .Date__Object {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid lightgrey;
      .Date {
        font-size: 20px;
        padding: 15px;
        display: inline-block;
        min-width: 150px;
      }
      .Generated__Time {
        font-size: 20px;
        padding: 10px;
        margin: 10px 20px;

        @include breakpoint($min865) {
          margin: 0 20px;
        }
      }
    }
  }
}