#StepOne {

  .Bootstrap__DatePicker {

    .table-condensed>tbody>tr>td {
      padding: 10px;
    }

    @include breakpoint($min865) {
      width: 50%;
      float: left;
      display: inline-block;
      .table-condensed>tbody>tr>td {
        padding: 15px;
      }
    }

  }

  #Form_HappEventForm_StartTime_Holder, #Form_HappEventForm_FinishTime_Holder {
    display: inline-block;
    width: 100%;
    @include breakpoint($min865) {
      width: 50%;
    }
  }

  .clearable-picker {
    width: 100%;
    .hasWickedpicker {
      width: 100%;
    }

    // close btn
    span {
      font-size: 20px;
    }
  }



  .Calendar__Options {
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey;
    @include breakpoint($min865) {
      width: 50%;
      float: left;
      display: inline-block;
    }

    span {
      padding: 8px;
      display: block;
      border: 1px solid black;
      margin-bottom: 10px;
    }

    .Higlight__Option {
      background-color: teal;
    }
  }

  .Generate__Dates {

    margin: 20px 0;
    height: 59px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    align-content: center;
    @include breakpoint($min865) {
      margin: 20px;
    }
    .generate_date_text {
      width: 100%;
      padding: 20px;
      margin: 0;
      text-align: center;
    }
  }

  .Event__Dates {
    .Date__Object {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid lightgrey;
      .Date {
        font-size: 20px;
        padding: 15px;
        display: inline-block;
        min-width: 150px;
      }
      .Generated__Time {
        font-size: 20px;
        padding: 10px;
        margin: 10px 20px;

        @include breakpoint($min865) {
          margin: 0 20px;
        }
      }
    }
  }
}