.happ-add-event-form {
  font-family: $happ_base_ff;

  fieldset {

  }

  .Actions {
    text-align: center;
    .action {

    }
  }

  .form-step {

    .field {
      padding-bottom: 15px;
      margin-bottom: 15px;
      //border-bottom: 1px solid lightgray;
      input {
        width: 100%;
        //max-width: 336px;
        max-width: none;
        height: 40px;
        font-size: 20px;
        padding: 10px;
        font-family: $font_GustanLight;
      }

      textarea {
        width: 100%;
        //max-width: 336px;
        max-width: none;
        height: 200px;
        font-size: 20px;
        padding: 15px;
        font-family: $font_GustanLight;
      }

      label {
        font-family: $font_GustanLight;
        font-weight: 500;
        font-size: $label_fs;
      }
    }

    .add-event-controls {
      margin-top: 20px;
      text-align: right;
    }
    .add-event-next {
      position: relative;
      height: 33px;
      display: inline-block;
      margin-left: 15px;
      background: black;
      border-radius: 8px;
      span {
        text-align: center;
        position: relative;
        top: 2px;
        padding: 0px 10px;
        color: #FFF;
        font-size: 19px;
        letter-spacing: 3px;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .add-event-back {
      position: relative;
      height: 33px;
      display: inline-block;
      margin-left: 15px;
      background: black;
      border-radius: 8px;

      span {
        text-align: center;
        position: relative;
        top: 2px;
        padding: 0px 10px;
        color: #FFF;
        font-size: 19px;
        letter-spacing: 3px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .Left {
    width: 100%;
    padding: 3%;
    @include breakpoint($min865) {
      width: 65%;
      float: left;
      padding: 20px;
    }
  }


  .Right {
   width: 100%;
    padding: 3%;
    @include breakpoint($min865) {
      width: 35%;
      float: left;
      padding: 20px;
    }
  }

  @import "steps/StepOne";
  @import "steps/StepTwo";
  @import "steps/StepThree";
  @import "steps/StepFour";
  //@import "steps/details-step";
  //@import "steps/ticket-step";
  //@import "steps/ticket-web-step";
  //@import "steps/location-step";

}